{% extends 'base.html' %}
{% block title %} Praticagem for ICTSI Rio {% endblock %}


{% block content %}
<!-- início do preloader -->
<div id="preloader">
    <div class="inner">
       <!-- HTML DA ANIMAÇÃO MUITO LOUCA DO SEU PRELOADER! -->
       <img src="../static/img/349.gif" alt="">
    </div>
</div>
<!-- fim do preloader --> 
<div class="ictsi_titulo">
    
    <h1 class="text-center"><img src="../static/img/ship.png" alt=""> Praticagem for ICTSIRio </h1>
</div>
<br>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="8" class="text-center">ENTRADA DE NAVIOS NO TERMINAL</th>
            </tr>
            <tr>
                <th>POB</th>
                <th>NAVIO</th>
                <th>TIPO</th>
                <th>CALADO</th>
                <th>MANOBRA</th>
                <th>DE</th>
                <th>PARA</th>
                <TH>TRACKER</TH>
            </tr>
        </thead>
        <tbody id="myTable">
            
        </tbody>
    </table>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="8" class="text-center">SAÍDA DE NAVIOS NO TERMINAL</th>
            </tr>
            <tr>
                <th>POB</th>
                <th>NAVIO</th>
                <th>TIPO</th>
                <th>CALADO</th>
                <th>MANOBRA</th>
                <th>DE</th>
                <th>PARA</th>
                <th>TRACKER</th>
                
            </tr>
        </thead>
        <tbody id="myTable2">
            
        </tbody>
    </table>
</div>

<script>
    const data = JSON.parse('{{ va | tojson | safe}}');
    const data2 = JSON.parse('{{ listas | tojson | safe}}');

    //console.log(data2);

    buildTable(data, data2)
    function buildTable(data, data2) {

        var table = document.getElementById('myTable')

        for(var x in data){
            for(var y in data2){
                if(data[x].MANOBRA == 'ENTRADA'){
                    if(data[x].DE == 'TECONT1' || data[x].DE == 'TECONTPROLONG' || data[x].PARA == 'TECONTPROLONG'  || data[x].PARA == 'TECONT1'){
                        if (data[x].NAVIO == data2[y].Navio) {
                            var row = `<tr>
                                    <td>${data[x].POB}</td>
                                    <td>${data[x].NAVIO}</td>
                                    <td>${data2[y].Tipo}</td>
                                    <td>${data[x].CALADO}</td>
                                    <td>${data[x].MANOBRA}</td>
                                    <td>${data[x].DE} </td>
                                    <td>${data[x].PARA} </td>
                                    <td><a href="https://www.marinetraffic.com/pt/ais/details/ships/mmsi:${data2[y].MMSI}" target="_blank" class="btn btn-success btn-lg btn-sm" tabindex="-1" role="button" aria-disabled="true">View</a></td>
                                                                                            
                                    </tr>`

                                        table.innerHTML += row
                        }
                    }
                }
            }    
        }

        var table = document.getElementById('myTable2')

        for(var x in data){
            for(var y in data2){
                if(data[x].MANOBRA == 'ENTRADA'){
                    if(data[x].DE == 'TECONT1' || data[x].DE == 'TECONTPROLONG' || data[x].PARA == 'TECONTPROLONG'  || data[x].PARA == 'TECONT1'){
                        if (data[x].NAVIO == data2[y].Navio) {
                            var row = `<tr>
                                    <td>${data[x].POB}</td>
                                    <td>${data[x].NAVIO}</td>
                                    <td>${data2[y].Tipo}</td>
                                    <td>${data[x].CALADO}</td>
                                    <td>${data[x].MANOBRA}</td>
                                    <td>${data[x].DE} </td>
                                    <td>${data[x].PARA} </td>
                                    <td><a href="" class="btn btn-secondary btn-lg btn-sm" tabindex="-1" role="button" aria-disabled="true">View</a></td>
                                                                                            
                                    </tr>`

                                        table.innerHTML += row
                        }
                    }
                }
            }    
        }
    }
</script>

{% endblock%}